absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
# anaconda-anon-usage
annotated-types
anyio
archspec
asgiref
astunparse
attrs
blinker
boltons
boto3
botocore
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
# conda
# conda-content-trust
# conda-libmamba-solver
# conda-package-handling
# conda_package_streaming
contourpy
cryptography
cycler
defusedxml
deprecation
distro
Django
djangorestframework
djangorestframework-simplejwt
djoser
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
flatbuffers
frozendict
frozenlist
gast
git-remote-s3
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
gotrue
grpcio
grpcio-status
h11
h2
h5py
hpack
httpcore
httplib2
httptools
httpx
hyperframe
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
# libmambapy
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
# menuinst
mkl-service
mkl_fft
mkl_random
ml-dtypes
multidict
namex
narwhals
numpy
oauthlib
opt_einsum
optree
orjson
outcome
packaging
pandas
pillow
platformdirs
plotly
pluggy
postgrest
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycosat
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
pygame
Pygments
PyJWT
Pympler
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
python3-openid
pytz
# pywin32
PyYAML
realtime
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn
scipy
selenium
semver
shellingham
six
smmap
sniffio
social-auth-app-django
social-auth-core
sortedcontainers
sqlparse
starlette
storage3
streamlit
StrEnum
supabase
supafunc
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
threadpoolctl
toml
tornado
tqdm
trio
trio-websocket
typer
typing_extensions
tzdata
tzlocal
ujson
uritemplate
urllib3
uvicorn
validators
watchdog
watchfiles
websocket-client
websockets
Werkzeug
win-inet-pton
wrapt
wsproto
yarl
zipp
zstandard
